

!! Syntax 

int <inside-interface>
 ip nat inside

int <outside-interface>
 ip nat outside

access-list <ACL-number> permit <network> <wildcard-mask>

ip nat pool <pool-name> <start-ip> <end-ip> netmask <subnet-mask>
ip nat inside source list <ACL-number> pool <pool-name>




!!  Configuraing  Dynamic NAT

int  g0/1
ip  nat  inside

int  g0/2 
ip nat  outside

!! Configuring  ACLS  For  IP which nees  translations

access-list 1 permit 192.168.20.0  0.0.0.255
ip  nat  pool CCNA 150.1.1.11 150.1.1.20  netmask 255.255.255.0


!! Dynamic NAT 
ip  nat  inside  source  list 1 pool CCNA

do sh  ip nat  translations




