
!!   PAT Using NAT Pool (Single Public IP)

1st  Method :- 

1 .  Configuring Interface
# interface <interface-name>
ip nat  inside

#interface<interface-name>
ip  nat  outside

2. ACL to  select  the  traffic 
# access-list <1-99> <permit/deny> <network-id> <wildcard mask>

3. Configuring Pool  for single  IP  Address
# ip  nat  pool <pool-name> <Public  Ip Address> netmask<subnet-mask>

4. Configuring PAT 
 
 # ip  nat  inside  source list <ACL-Number>pool <pool-name> overload
    

 
!! Configuring NAT

int  g0/1 
ip  nat  inside

int  g0/2 
ip  nat  outside 

access-list 1  permit 192.168.20.0  0.0.0.255
ip  nat  pool  CCNA  200.1.1.1  200.1.1.1 netmask 255.255.255.0 

ip  nat  inside source list 1 pool  CCNA overload 

	
	    