2nd  Method  :  
  Interface  Configuring :
   
!! remove  config  of  acl  and  nat  pool 


no  ip  nat  inside  source  list  1  pool  CCNA
no  ip  nat  pool  CCNA  200.1.1.1 200.1.1.1 netmask 255.255.255.0

no  access-list 1  permit 192.168.20.0   0.0.0.255
   


!! Real  Configuring 

int  g0/1  
ip  nat inside  

int  g0/2 
ip  nat  outside

access-list 1  permit  192.168.20.0   0.0.0.255	 

ip  nat inside  source list 1 interface g0/2 overload  

do sh ip  nat translations	 