!! R1
en  
conf  t 
host R1 
int  g0/0/0 
ip  add  10.1.1.1 255.255.255.0 
no  sh  

int  g0/0/1 
ip  add  11.1.1.1 255.255.255.0 
no  sh 

router  ei 100 
no auto  
net  10.1.1.0 
net 11.1.1.0


!! confirgure HSRP on  Client  Side Interface
int  g0/0/0
!! standby <group-number> ip  <virtual  ip>
standby 1 ip  10.1.1.254


!! By  default  priority = 100  ,  so we  set  priority =110 ,  and  turn  on preemption so  it 
 will  always  become  Active  even  if  it  fails  and  come  back  again
 standby 1  priority 110 
 standby 1  preempt 
 
!
!